.spinnerContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    backdrop-filter: blur(1px);
    z-index: 5;
}

.hideDisplay{
    display: none;
}