.patientRegisterContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* background :linear-gradient(
    rgba(255,255,255,0.3),
    rgba(255,255,255,0.1)

  ),
  url(./assets/img/banner-bg.png); */
  background-color: antiquewhite;
  background-size: cover;
  background-position: center;
}
.patientRegisterContainer form{
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}
.patientRegisterContainer h1{
  color: rgb(77, 1, 77);
  text-align: center;
}
.patientRegisterContainer button{
  width: 100%;
  height: 50px;
  padding:10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}
