.report_card_container{
    height: 160px;
    width: 240px;
    height: 160px;
    border-radius: 8px;
    width: 240px;
    background-color: #dcffe1b0;
    padding: 19px 24px;
    box-sizing: border-box;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Slab', serif;
}

.report_card_container .report_title{
    font-size: 1.4rem;
    margin-top: 28px;
}
.report_card_container div{
    width: 100%;
}
.report_card_container hr{
    width: 100%;
    background-color: #9d9d9d;
    height: 0.1px;
    border: none;
}

.report_card_container:hover{
    box-shadow: 0px 0px 18px -3px black;
    cursor: pointer;
    transform: scale(1.1);
}

.report_card_container span{
    font-size: 0.8rem;    
    color: #615b5b;
    font-family: 'Sofia Sans', sans-serif;
}

.reports{
    margin: 50px 100px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 57vh;
}