.patientContainer{
    width: 56vw;
    height: 82.5vh;
    background: linear-gradient(120deg, #96d7ff, #b8ffe4);    
    position: fixed;
    top: 5%;
    left: 17%;
    border-radius: 10px;
    padding: 20px;
    opacity: 1;
    transition: all 0.5s ease;
    overflow-y: scroll;
}

.patientContainer .wrongIcon{
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

.patientContainer .wrongIcon:hover{
    cursor: pointer;
}

.patientContainer .form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 32px;
}

.patientContainer .form h3::before{
    content: '';
    width: 90%;
    position: absolute;
    border-bottom: 1px solid black;
    height: 2px;
    left: 19px;
    top: 17%;
}

.patientContainer .form h3::after{
    content: '';
    width: 90%;
    position: absolute;
    border-bottom: 1px solid black;
    height: 2px;
    left: 19px;
    bottom: 42%;
}

.patientContainer .form button{
    position: absolute;
    bottom: -18%;
    right: 0;
    margin: 20px;
    padding: 8px 15px;
    border-radius: 8px;
    background: #e4e0ff;
    border: 1px solid #837abf;
    font-weight: 600;
}
.patientContainer .form button:hover{
    cursor: pointer;
    background: #b6b6ffe0;
    border: 1px solid #000000;
    transform: scale(1.1);
}

.patientContainer select:focus{
    outline: none;
}

.date::after{
    content: '';
    width: 90%;
    position: absolute;
    border-bottom: 1px solid black;
    height: 2px;
    left: 19px;
    bottom: 0%;
}

#date{
    background: none;
    border: none;
    border-radius: 0;
    padding: 4px 5px;
    border-bottom: 1px solid black;
        font-size: 1.05rem;
}