@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.Doctor_container{
    /* height: 100vh; */
}
 
.Doctor_container .heading{
    font-weight: 600;
    font-size: 3rem;
}
.Doctor_container .img-right{
    position: fixed;
    top: 2%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 575px) {
    .Doctor_container .img-right {
        display: none;
    }
    .Doctor_container .top {
        display: flex;
        align-items: center;
    }
}
.Doctor_container .img{
    height: 100px;
    width: 100px;
    background-color: gray;
    border-radius: 50%;
}
.Doctor_container .img img{
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
}
.Doctor_container .bgcontain{
    width: 100%;
    height: 60%;
    background-image: url('../../assets/doctorModule/bg.jpg');
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)), url('../../assets/doctorModule/bg.jpg');
    background-size:cover;
    position: fixed;
    left: 0;
    right: 0;
}
.Doctor_container .midHeading{
    font-family: 'Poppins', sans-serif;

    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.Doctor_container .midSubHeading{
    
    font-weight: 600;
    font-size: 2rem;
    color: rgb(209, 209, 209);
    text-align: center;
    margin-top: 1%;
    font-family: 'Poppins', sans-serif;

}
.Doctor_container .bottom{
    border-radius: 8px;
    background-color: #fff;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    position: fixed;
    top: 70%;
    border: 1px solid white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
@media screen and (max-width: 575px){
    .Doctor_container .bottom{
        display: flex;
        flex-direction: column;
        height: 50%;
        top: 35%;
        gap: 0.2;
    }
    .Doctor_container .bgcontain{
        background-size:cover;
    }
    .Doctor_container .box img{
        max-width: 150px;
        max-height: 150px;
    }
    
}
.Doctor_container .box{
    margin-top: 4%;
    width: 25%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Doctor_container .box:hover{
    cursor: pointer;
}
.Doctor_container .box img{
    width: 45%;
    height: 55%;
}
.Doctor_container .box p{
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}