.doctor_data_container .searchbar{
    display: flex;
    margin: 3% 20%;
    height: 40px;
}

.doctor_data_container .searchbar input{
    width: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid grey;
    border-right: none;
    padding: 10px 20px;
    font-size: 1.1rem;
}

.doctor_data_container button{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 25px;
    background: white;
    border: 1px solid grey;
    border-left: none;
}