.spinnerContainer .active{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000002e;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}

.spinnerContainer {
    display: none;
    z-index: -1;
}