
/************ Custom Font ************/
/* this is all the fonts which are used  */
    @font-face {
        font-family: Centra;
        src: url('../../fonts//CentraNo2-Bold.ttf');
        font-weight: 700;
    }
    @font-face {
        font-family: Centra;
        src: url('../../fonts/CentraNo2-Book.ttf');
        font-weight: 500;
    }
    @font-face {
        font-family: Centra;
        src: url('../../fonts/CentraNo2-Medium.ttf');
        font-weight: 400;
    }

/************ Default Css ************/
/* This * is used which means to apply on whole page  */

.main_page{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_page html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

.main_page body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #2e24f4; 
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

.main_page h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.main_page p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

.main_page a:hover {
  text-decoration: none;
}

.main_page img {
  width: 100%;
  height: auto;
  
}

.main_page button {
  border: 0;
  background-color: transparent;
}

.main_page input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

.main_page p.success {
	color: green;
}

.main_page p.danger {
	color: red;
}  
/************ Banner Css ************/
.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-color: #2e24f4;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
  }
  .banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    color: white;
  }
  .banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
  .banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }
  .banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .banner button:hover svg {
    margin-left: 25px;
  }
  .banner img {
    animation: updown 3s linear infinite;
  }
  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }
  