footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #319997;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    /* margin-top: 10px; */
    height:40px;
}